<html>
 <head>
  <meta charset="utf-8">
  <title>domain info</title>
 </head>
 <body class="container">

  <h2>INFO FOR {{ backlinkstotal.domain_back }}</h2>
  <table>
        <thead><th></th><th></th></thead>

      <td valign = "top"><table>
            <thead><th>BackLinks</th></thead>
            {% for backlink in backlinks %}
            <tr><td>domain_back : {{ backlink.domain_back }} &nbsp</td></tr>
            <tr><td>domain_from : {{ backlink.domain_from }} &nbsp</td></tr>
            <tr><td>domain_to : {{ backlink.domain_to }} &nbsp</td></tr>
            <tr><td>link_text : {{ backlink.link_text }} &nbsp</td></tr>
            <tr><td>nofollow : {{ backlink.nofollow }} &nbsp</td></tr>
            <tr><td>noindex : {{ backlink.noindex }} &nbsp</td></tr>
            <tr><td>exlinks : {{ backlink.exlinks }} &nbsp</td></tr>
            <tr><td>redirect : {{ backlink.redirect }} &nbsp</td></tr>
            <tr><td>count : {{ backlink.count }} &nbsp</td></tr>
            <tr><td>tic : {{ backlink.tic }} &nbsp</td></tr>
            <tr><td>link_rank : {{ backlink.link_rank }} &nbsp</td></tr>
            <tr><td>domain_rank : {{ backlink.domain_rank }} &nbsp</td></tr>
            <tr><td>trust_rank : {{ backlink.trust_rank }} &nbsp</td></tr>
            <tr><td>level_from : {{ backlink.level_from }} &nbsp</td></tr>
            <tr><td>ip : {{ backlink.ip }} &nbsp</td></tr>
            <tr><td>add : {{ backlink.add }} &nbsp</td></tr>
            <tr><td>check : {{ backlink.check }} &nbsp</td></tr>
            <tr><td>delete : {{ backlink.delete }} &nbsp</td></tr>
            <tr><td>yaca : {{ backlink.yaca }} &nbsp</td></tr>
            <tr><td>seo_link : {{ backlink.seo_link}} &nbsp</td></tr>
            <tr><td>comm : {{ backlink.comm}} &nbsp</td></tr>
            <tr><td>------------------------------------------</td></tr>
            {% endfor %}
        </table></td>

        <td valign = "top"><table>
              <thead><th>OutLinks</th></thead>
              {% for outlink in outlinks %}
              <tr><td>domain_back : {{ outlink.domain_back }} &nbsp</td></tr>
              <tr><td>domain_from : {{ outlink.domain_from }} &nbsp</td></tr>
              <tr><td>domain_to : {{ outlink.domain_to }} &nbsp</td></tr>
              <tr><td>link_text : {{ outlink.link_text }} &nbsp</td></tr>
              <tr><td>nofollow : {{ outlink.nofollow }} &nbsp</td></tr>
              <tr><td>noindex : {{ outlink.noindex }} &nbsp</td></tr>
              <tr><td>exlinks : {{ outlink.exlinks }} &nbsp</td></tr>
              <tr><td>redirect : {{ outlink.redirect }} &nbsp</td></tr>
              <tr><td>count : {{ outlink.count }} &nbsp</td></tr>
              <tr><td>tic : {{ outlink.tic }} &nbsp</td></tr>
              <tr><td>link_rank : {{ outlink.link_rank }} &nbsp</td></tr>
              <tr><td>domain_rank : {{ outlink.domain_rank }} &nbsp</td></tr>
              <tr><td>trust_rank : {{ outlink.trust_rank }} &nbsp</td></tr>
              <tr><td>level_from : {{ outlink.level_from }} &nbsp</td></tr>
              <tr><td>ip : {{ outlink.ip }} &nbsp</td></tr>
              <tr><td>add : {{ outlink.add }} &nbsp</td></tr>
              <tr><td>check : {{ outlink.check }} &nbsp</td></tr>
              <tr><td>delete : {{ outlink.delete }} &nbsp</td></tr>
              <tr><td>--------------------------------------</td></tr>
              {% endfor %}
          </table></td>
    </table>

    <table>
          <thead><th></th><th></th><th></th><th></th></thead>
          <td valign = "top"><table>
              <thead><th>BackLinksTotal</th></thead>
              <tr><td>links : {{ backlinkstotal.links }} &nbsp</td></tr>
              <tr><td>mirrors : {{ backlinkstotal.mirrors }} &nbsp</td></tr>
              <tr><td>links_unique : {{ backlinkstotal.links_unique }} &nbsp</td></tr>
              <tr><td>zones_unique  : {{ backlinkstotal.zones_unique  }} &nbsp</td></tr>
              <tr><td>zones_to_unique : {{ backlinkstotal.zones_to_unique }} &nbsp</td></tr>
              <tr><td>anchors_unique : {{ backlinkstotal.anchors_unique }} &nbsp</td></tr>
              <tr><td>words : {{ backlinkstotal.words }} &nbsp</td></tr>
              <tr><td>words_unique : {{ backlinkstotal.words_unique }} &nbsp</td></tr>
              <tr><td>links_dofollow_total : {{ backlinkstotal.links_dofollow_total }} &nbsp</td></tr>
              <tr><td>links_noindex_total  : {{ backlinkstotal.links_noindex_total  }} &nbsp</td></tr>
              <tr><td>links_nofollow_total : {{ backlinkstotal.links_nofollow_total }} &nbsp</td></tr>
              <tr><td>donors_subnets : {{ backlinkstotal.donors_subnets }} &nbsp</td></tr>
              <tr><td>donors_ips : {{ backlinkstotal.donors_ips }} &nbsp</td></tr>
              <tr><td>donors_domains : {{ backlinkstotal.donors_domains }} &nbsp</td></tr>
              <tr><td>&nbsp &nbsp &nbsp DONORS:</td></tr>
              {% for donor in donors %}
              <tr>
              <td>{{ donor.name }} : &nbsp {{ donor.count }} &nbsp</td>
              </tr>
              {% endfor %}
          </table></td>

          <td valign = "top"><table>
              <thead><th>BackLinksChanges</th></thead>
              {% for changes in changess %}
              <tr><td>{{ changes.changes_date }} &nbsp</td></tr>
              <tr><td>&nbsp &nbsp &nbsp domain_new : &nbsp {{ changes.domain_new }} &nbsp</td></tr>
              <tr><td>&nbsp &nbsp &nbsp domain_delete : &nbsp {{ changes.domain_delete }} &nbsp</td></tr>
              <tr><td>&nbsp &nbsp &nbsp domain_total : &nbsp {{ changes.domain_total }} &nbsp</td></tr>
              {% endfor %}
          </table></td>


          <td valign = "top"><table>
              <thead><th>OutLinksTotal</th></thead>
              <tr><td>links : {{ outlinkstotal.links }} &nbsp</td></tr>
              <tr><td>mirrors : {{ outlinkstotal.mirrors }} &nbsp</td></tr>
              <tr><td>links_unique : {{ outlinkstotal.links_unique }} &nbsp</td></tr>
              <tr><td>zones_unique  : {{ outlinkstotal.zones_unique  }} &nbsp</td></tr>
              <tr><td>zones_to_unique : {{ outlinkstotal.zones_to_unique }} &nbsp</td></tr>
              <tr><td>anchors_unique : {{ outlinkstotal.anchors_unique }} &nbsp</td></tr>
              <tr><td>words : {{ outlinkstotal.words }} &nbsp</td></tr>
              <tr><td>words_unique : {{ outlinkstotal.words_unique }} &nbsp</td></tr>
              <tr><td>links_dofollow_total : {{ outlinkstotal.links_dofollow_total }} &nbsp</td></tr>
              <tr><td>links_noindex_total  : {{ outlinkstotal.links_noindex_total  }} &nbsp</td></tr>
              <tr><td>links_nofollow_total : {{ outlinkstotal.links_nofollow_total }} &nbsp</td></tr>
              <tr><td>donors_subnets : {{ outlinkstotal.donors_subnets }} &nbsp</td></tr>
              <tr><td>donors_ips : {{ outlinkstotal.donors_ips }} &nbsp</td></tr>
              <tr><td>donors_domains : {{ outlinkstotal.donors_domains }} &nbsp</td></tr>
              <tr><td>acceptors_domains : {{ outlinkstotal.acceptors_domains }} &nbsp</td></tr>
              <tr><td>acceptors_paths : {{ outlinkstotal.acceptors_paths }} &nbsp</td></tr>
              <tr><td>&nbsp &nbsp &nbsp DONORS:</td></tr>
              {% for out_donor in out_donors %}
              <tr>
              <td>{{ out_donor.d_name }} : &nbsp {{ out_donor.d_count }} &nbsp</td>
              </tr>
              {% endfor %}

              <tr><td>&nbsp &nbsp &nbsp ACCEPTORS:</td></tr>
              {% for out_acceptor in out_acceptors %}
              <tr>
              <td>{{ out_acceptor.a_name }} : &nbsp {{ out_acceptor.a_count }} &nbsp</td>
              </tr>
              {% endfor %}
          </table></td>
          <td valign = "top"><table>
              <thead><th>BackLinksCounters</th></thead>
              <tr><td>ips : {{ counters.ips }} &nbsp</td></tr>
              <tr><td>subnets : {{ counters.subnets }} &nbsp</td></tr>
              <tr><td>domains : {{ counters.domains }} &nbsp</td></tr>
              <tr><td>paths_to : {{ counters.paths_to }} &nbsp</td></tr>
              <tr><td>indexed_pages : {{ counters.indexed_pages }} &nbsp</td></tr>
              <tr><td>trust_rank_log : {{ counters.trust_rank_log }} &nbsp</td></tr>
              <tr><td>links : {{ counters.links }} &nbsp</td></tr>
              <tr><td>link_rank : {{ counters.link_rank }} &nbsp</td></tr>
              <tr><td>elinks : {{ counters.elinks }} &nbsp</td></tr>
              <tr><td>elink_domains : {{ counters.elink_domains }} &nbsp</td></tr>
              <tr><td>elinks_uniq : {{ counters.elinks_uniq }} &nbsp</td></tr>
              <tr><td>tic : {{ counters.tic }} &nbsp</td></tr>
              <tr><td>subs : {{ counters.subs }} &nbsp</td></tr>
              <tr><td>domain_rank_log : {{ counters.domain_rank_log }} &nbsp</td></tr>
              <tr><td>seo_percent : {{ counters.seo_percent }} &nbsp</td></tr>
              <tr><td>org_percent : {{ counters.org_percent }} &nbsp</td></tr>
              <tr><td>links_uniq : {{ counters.links_uniq }} &nbsp</td></tr>
              <tr><td>elinks_anchorless : {{ counters.elinks_anchorless }} &nbsp</td></tr>
          </table></td>
      </table>



 </body>
</html>
