<html>
 <head>
  <meta charset="utf-8">
  <title>domain</title>
 </head>
 <body class="container">
  <form method="POST" action="create/">
      {% csrf_token %}
      <p>
          <label>Input domain for scan</label><br>
          <input type="text" name="domain" />
      </p>
      <input type="submit" value="ADD" >
  </form>


  <h2>Domain list</h2>
  <table>
          <thead><th>Id</th><th>Domain</th><th></th></thead>
      {% for domain in domain reversed %}
      <tr>
      <td>{{ domain.id }} &nbsp</td>
      <td>{{ domain.domain }} &nbsp</td>
      <td><a href="/info/{{domain.domain}}">Scan info</a> | <a href="delete/{{domain.id}}">Delete</a></td>
      </tr>
      {% endfor %}


 </body>
</html>
