{% for keyword in keywords_on_page %}
  <a href="/{{ keyword.word }}">{{ keyword.word }}</a> last scan: {{ keyword.last_scan }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">

        {% if keywords_on_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ keywords_on_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ keywords_on_page.number }} of {{ keywords_on_page.paginator.num_pages }}.
        </span>

        {% if keywords_on_page.has_next %}
            <a href="?page={{ keywords_on_page.next_page_number }}">next</a>
            <a href="?page={{ keywords_on_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    </span>
</div>
