{% for gprs in gprs_on_page %}
  <a href="/{{ gprs.word.word }}/{{ gprs.task_id }}">{{ gprs.task_id }}</a> start scan: {{ gprs.timestamp_start }} end scan: {{ gprs.timestamp_end }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">

        {% if gprs_on_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ gprs_on_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ gprs_on_page.number }} of {{ gprs_on_page.paginator.num_pages }}.
        </span>

        {% if keywords_on_page.has_next %}
            <a href="?page={{ gprs_on_page.next_page_number }}">next</a>
            <a href="?page={{ gprs_on_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    </span>
</div>
