<p>Request average time: {{ average_time }} min. </p>
<p>Success request: {{ success_req }} of {{ full_req }}</p>

{% for key, values in mark_time.items %}
<p>
  <h2>> {{ key }} minute, {{ values.len }} success request:</h2>
    <ul>
      {% for gpr in values.GPRs %}
        <li>
          <a href="/{{ gpr.word.word }}/{{ gpr.task_id }}">{{ gpr.task_id }}</a> start scan: {{ gpr.timestamp_start }} end scan: {{ gpr.timestamp_end }}<br>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">

            {% if values.GPRs.has_previous %}
                <a href="?num={{ key }}&page=1">&laquo; first</a>
                <a href="?num={{ key }}&page={{ values.GPRs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ values.GPRs.number }} of {{ values.GPRs.paginator.num_pages }}.
            </span>

            {% if values.GPRs.has_next %}
                <a href="?num={{ key }}&page={{ values.GPRs.next_page_number }}">next</a>
                <a href="?num={{ key }}&page={{ values.GPRs.paginator.num_pages }}">last &raquo;</a>
            {% endif %}

        </span>
    </div>

</p>
{% endfor %}
